
.DS_Store
.gradle/8.0/checksums/checksums.lock
.gradle/8.0/dependencies-accessors/dependencies-accessors.lock
.gradle/8.0/dependencies-accessors/gc.properties
.gradle/8.0/executionHistory/executionHistory.lock
.gradle/8.0/fileChanges/last-build.bin
.gradle/8.0/fileHashes/fileHashes.bin
.gradle/8.0/fileHashes/fileHashes.lock
.gradle/8.0/gc.properties
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/vcs-1/gc.properties
.idea/gradle.xml
.idea/misc.xml
.idea/vcs.xml
.idea/compiler.xml
.idea/kotlinc.xml
.idea/.name
